body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: white;
}


h1,h2,h3,h4,h5,h6, p{
margin: 0;
}

ul{list-style: none;
margin: 0;
padding: 0;}

a{text-decoration: none;
color: currentColor;}

img{
    display: block;
    max-width: 100%;
    height: auto;
}
.container{
max-width: 320px;
padding: 0 16px;
margin: 0 auto;
}
/* header */

.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
        padding: 16px 0;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header-navigation{
    display: flex;
    align-items: center;
}
.header-link{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    
    
}

.header-link-color{
    color: #2e2f42;
}



.header-address{
font-style: normal;
margin-left: auto;}

.header-menu-list{
    display: none;
    

}
.header-address-list{
    display: none;
}




.header-button{
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

/* mob-menu */

.mob-menu{
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    min-width: 100%;
    height: 100%;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    
}

.mob-menu.is-open {
    opacity: 1;
    pointer-events: auto;
}

.mob-button{
    display: block;
    margin-left: auto;
    margin-bottom: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
        background-color: #fff;   
        border: 1px solid rgba(0, 0, 0, 0.1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* .mob-menu-list{
        margin-bottom: 50px;
    } */
    .mob-menu-link{
        font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            color: #2e2f42;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

        .mob-menu-link:hover,
        .mob-menu-link:focus {
            color: #404BBF
        }

.color{
    color: #404bbf;
}    

    .mob-menu-item:not(:last-child){
        margin-bottom: 40px;
    }

.mob-address-item:not(:last-child){
    margin-bottom: 24px;
}

 .mob-address-link{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
 }

.mob-address-link:hover,
.mob-address-link:focus {
    color: #404BBF
}

 .tel-color{
    color: #4d5ae5;
 }
 

 .mob-icon-list{
display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 48px;
 }
 
 .mob-icon-item {
     width: 40px;
     height: 40px;
    
 }

 .mob-link {
     width: 100%;
     height: 100%;
     background-color: #4d5ae5;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .mob-link:hover,
 .mob-link:focus {
     background-color: #404BBF;

 }

 .mob-icon{
fill: #f4f4fd;
 }


/* hero */


.hero{
    padding: 72px 0;  
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: rgba(46, 47, 66, 0.7);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/Dark-bg-mob.jpg);
    
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi), (min-resolution: 2dppx){
.hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-mob2x.jpg);
}
    } 
    

    


.hero-title{
        font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            color: #fff;
            max-width: 216px;
            margin: 0 auto;
}


.button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    gap: 10px;
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
   
    margin-top: 72px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus,
.button:active{background: #404BBF}

/* advantages */
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages{
   padding: 96px 0;
   
}
.advantages-list{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    
}

.advantages-container{
    display: none;
    
}


.advantages-item{
width: 100%;
}

.advantages-item-subtitles{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}



.advantages-item-text{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* team */

.team {
   
        background: #f4f4fd;
    padding: 96px 0;
    padding-right: 12px;
    padding-left: 12px;
}


.team-item{background: #ffffff;
border-radius: 0 0 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;


}

.team-item-image{
margin: 0 auto;
}


.team-list{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    width: 100%;
    
  
    
}
.team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}
.team-name{
padding: 32px 0;
}


.team-item-subtitles{
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-item-text{
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.social-icon-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
    
}
.social-link{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.social-icon{
    fill: #f4f4fd;
}

.social-link:hover,
 .social-link:focus{
    background-color: #404BBF;
    
}


/* portfolio */

.portfolio{
padding-top: 96px;
padding-bottom: 96px;
}
.portfolio-container{
    /* padding-right: 0;
    padding-left: 0; */
    /* width: 1128px; */
}

.portfolio-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
/* padding: 0 455px 0 455px; */
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 72px;}

.portfolio-menu-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    
}
.portfolio-menu-item {
    
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
}

.portfolio-menu-item:hover .portfolio-cover-text{
    transform: translateY(0);
}

.portfolio-cover-wrap{
position: relative;
overflow: hidden;
}

.portfolio-cover-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
position: absolute;
top: 0;
background: #4d5ae5;
height: 100%;
padding: 40px 32px;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.border{
    border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
    border-top: none;
padding: 32px 16px;
}
.portfolio-menu-item:hover{
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
0 1px 1px 0 rgba(46, 47, 66, 0.16),
0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;}

.portfolio-menu-subtitles{
    font-weight: 500;;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        
}
.portfolio-menu-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* footer */

.footer{
background: #2e2f42;
padding: 96px 0;
}
    

    

.footer-link{
    font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    /* display: inline-block; */
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 16px;
}
    

.footer-link-color{
    color: #f4f4fd;
   
}

.footer-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
display: flex;
justify-content: center;
margin-bottom: 72px;}


.footer-social-tittle{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
        text-align: center;
      
}
.footer-icon-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 72px;
}

.footer-icon-item{
    width: 40px;
    height: 40px;
    
}

.footer-icon-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}


.footer-icon-link:hover,
.footer-icon-link:focus{
    background-color: #31d0aa;
}

.footer-social-icon{
    fill: #f4f4fd;}

.footer-subscribe{
    margin: 0 auto;}

.subscribe-text{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
        text-align: center;
}

.footer-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
 justify-content: center;
    
}
.footer-input{
border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background: #2e2f42;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
background-color: transparent;
font-size: 12px;
line-height: 2;
 letter-spacing: 0.04em;
padding-left: 16px;
color: #fff;
margin-bottom: 16px;


}
    


.footer-input::placeholder{
    font-weight: 400;
    color: #fff;
    padding-top: 8px;
    opacity: 0.6;
   
}

.footer-button{
border-radius: 4px;
padding: 8px 24px;
min-width: 165px;
height: 40px;
background: #4d5ae5;
border: none;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
margin: 0 auto;
display: flex;
/* align-items: center;
justify-content: center; */
cursor: pointer;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.footer-button:hover,
.footer-button:focus{
background-color:#404BBF;
}

.footer-subscribe-icon{
fill: #fff;
margin-left: 16px;}

/* Backdrop */

.backdrop{
position: fixed;
top: 0;
left: 0;
background: rgba(46, 47, 66, 0.4);
width: 100%;
height: 100%;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
opacity: 0;
pointer-events: none;
}

.backdrop.is-open{
opacity: 1;
pointer-events: auto;    
}

 /*Modal  */

.modal{
position: absolute;
width: 288px;
    height: 623px;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background: #fcfcfc;
border-radius: 4px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 72px 16px 24px 16px;


}

.modal-button{
    position: absolute;
width: 24px;
height: 24px;
top: 24px;
right: 24px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-button:hover,
.modal-button:focus{
    background-color: #404bbf;
    border: none;
    fill: #ffffff
}



.icon-cross{
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)

}


.modal-text{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}

/* Form */

.modal-wrap{
    margin-bottom: 8px;
}

.modal-label{
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
display: block;
margin-bottom: 4px;
}



.modal-user-wrap{
    position: relative;
}

.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input:focus{
border-color: #4D5AE5;
}

.user-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .user-icon{
fill: #4D5AE5;}

.modal-comment{
    margin-bottom: 16px;
}

.textarea-comment{
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.textarea-comment::placeholder{
font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);}

.textarea-comment:focus{
    border-color: #4D5AE5;
}

/* Checkbox */

.modal-checkbox{
    margin-bottom: 24px;
    display: flex;
    
    
}

.label-checkbox{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    


    
    
}

.fiction-checkbox{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;
flex-shrink: 0;



}

.input-privacy:checked + .label-checkbox .fiction-checkbox{
    background-color:#404bbf;
    border: none;
    fill: #F4F4FD;
    }

  .privacy-text{
   padding-left: 8px;
  }  

.check-link{
    line-height: 1.33;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
        
        
}

/* Form-button */

.check-button {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: block;
        margin: 0 auto;
        cursor: pointer;
}
.check-button:hover,
.chek-button:focus{
  background: #404bbf;
    
}

/* Media min-width 768px */

@media screen and (min-width: 768px) {
.container { 
    max-width: 768px;}

    /* media-header */

.header{
    padding: 16px 0;
}

.header-link {
    margin-right: 120px;
}

.header-menu-list {
    display: flex;
    gap: 40px;

}

.header-menu-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    border-radius: 2px;
    height: 4px;
    background: #404bbf;
    width: 100%;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404BBF
}

.header-address-list {
    display: inline-block;}
    
 
    


.header-address-item:not(:last-child) {
    margin-bottom: 12px;
}



.header-address-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    


}


.header-address-link:hover,
.header-address-link:focus {
    color: #404BBF
}

.header-button {
    display: none;
}

/* media-hero */

    .hero{
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tab.jpg);
    }

        @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tab2x.jpg);
            }
        }

    .hero-title{
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    }

    .button{
    margin-top: 36px;
    }

    .advantages-list {
        gap: 72px 24px;
    }

    /* media-adventages */

.advantages-item {
width: calc((100% - 1 * 24px) / 2 );
} 

.advantages-item-subtitles{
  text-align: left;  
}



/* media-team */

.team-list{

align-items: center;
justify-content: center;
gap: 64px 24px;
}

.team-item{ 
    max-width: 264px;
width: calc((100% - 1 * 24px) / 2 );
}

/* media-portfolio */

.portfolio-menu-list{
    gap: 72px 24px;
   
}

.portfolio-menu-item{
    width: calc((100% - 1 * 24px) / 2 );
}

.footer .container{
max-width: 584px;
}

/* media-footer */

.footer-logo-social{
    display: flex;
    margin-bottom: 72px;
}

.footer-link{
  justify-content: left;  
}


.container-logo{
margin-right: 24px;
    
}
.footer-text{
    margin-bottom: 0;
}

.footer-social-tittle{
    text-align: left;
}
.footer-icon-list{
    margin-bottom: 0;
}


.subscribe-text{
    text-align: left;
}
.footer-form{
    justify-content: left;
    gap: 24px;
}
.footer-input{
    margin-bottom: 0;
    
}
.footer-button{
    margin: 0;
}

/* media-modal */
.modal {

width: 408px;
min-height: 584px;
padding: 72px 24px 24px 24px;
} 
 

}

/*  MEDIA MIN-WIDTH 1158PX */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
/* media-header */

.header{
    padding: 24px 0;
}

.header-link{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    margin-right: 76px;
}

.current::after {
    bottom: -3px;}

.header-address-list{
   display: flex;
   gap: 40px; 
}



.header-address-item:not(:last-child) {
    margin-bottom: 0;
}

.header-address-link{
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* media-hero */

    .hero{
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    
    
}

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office2x.jpg);
    }
}
        
    .button{
        margin-top: 48px;
    }

/* media-advantages */

    .advantages {
        padding: 120px 0;
    }
    .advantages-list{
        gap: 24px;
    }
    .advantages-item {
        width: calc((100% - 3 * 24px) / 4);
    }

    .advantages-container {
        display: flex;
            align-items: center;
            justify-content: center;
            height: 112px;
            background: #f4f4fd;
            border-radius: 4px;
            border: 1px solid #8e8f99;
            margin-bottom: 8px;
    }
    .advantages-item-subtitles {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: left;
        margin-bottom: 8px; 
    }
    .advantages-item-text{
font-weight: 400;
    }

/* media-team */
    
.team {
  padding: 120px 0;
 }
   
 .team-list{
    gap: 24px;
 }
.team-item {
 width: calc((100% - 3 * 24px) / 4);
 }

 /* media-portfolio */

 .portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
 }

 .portfolio-menu-list{
    gap: 48px 24px;
 }

 .portfolio-menu-item{
width:calc((100% - 2 * 24px) / 3) ;
 }

/* media-footer */

 .footer{
    padding: 100px 0;
 }

.footer .container{
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 0 15px;
    max-width: 1158px;
        
    
}

.container-logo{
    margin-right: 120px;
}


.footer-logo-social {
    
    margin-bottom: 0;
}
.footer-social-container {
    margin-right: 80px;
}


}


