body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: white;
}
h1,h2,h3,h4,h5,h6, p{
margin: 0;
}

ul{list-style: none;
margin: 0;
padding: 0;}

a{text-decoration: none;
color: currentColor;}

img{
    display: block;
    max-width: 100%;
    height: auto;
}
.container{
width: 1158px;
padding: 0 15px;
margin: 0 auto;
}
/* header */

.header{
    border-bottom: 1px solid #e7e9fc;
}
.header-container{
    display: flex;
    align-items: center;

}
.header-navigation{
    display: flex;
    align-items: center;
}
.header-link{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    
}

.header-link-color{
    color: #2e2f42;
}
.header-menu-list{
    display: flex;
    gap: 40px;
}
.header-menu-item{
display: block;}

.header-menu-link{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
padding: 24px 0;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    height: 4px;
    background: #404bbf;
    width: 100%;
}

.header-menu-link:hover, 
.header-menu-link:focus{ color: #404BBF}


.header-address{
font-style: normal;
margin-left: auto;}

.header-address-list{
    display: flex;
    gap: 40px;

}
.header-address-item{
    padding: 24px 0;
    display: block;
}

.header-address-link{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-link:hover,
.header-address-link:focus
{ color: #404BBF}

/* hero */


.hero{
padding: 188px 0;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(46, 47, 66, 0.7);
 
    background-image: url(../images/people-office.jpg);
    background-position: center;
    background-repeat: no-repeat;}
    


.hero-title{
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin: 0 auto;
}



.button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    gap: 10px;
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin-top: 48px;
}

.button:hover,
.button:focus,
.button:active{background: #404BBF}

/* advantages */
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages{
   padding: 120px 0;
}
.advantages-list{
    display: flex;
    gap: 24px;
}

.advantages-item{
width: calc((100% - 3 * 24px) / 4)}

.advantages-item-subtitles{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        
}



.advantages-item-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* team */

.team {
        background: #f4f4fd;
        padding: 120px 0;
}

.team-item{background: #ffffff;
border-radius: 0 0 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
width: calc((100% - 3 * 24px) / 4);}

.team-list{
    display: flex;
    gap: 24px;
  
    
}
.team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}
.team-name{
    padding: 32px 0;
}


.team-item-subtitles{
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-item-text{
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/* portfolio */

.portfolio{padding-top: 120px;
padding-bottom: 120px;}
.portfolio-container{
    padding-right: 0;
    padding-left: 0;
    width: 1128px;
}

.portfolio-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
padding: 0 455px 0 455px;
display: flex;
margin-bottom: 72px;}

.portfolio-menu-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;   
}
.portfolio-menu-item {
    width:calc((100% - 2 * 24px) / 3) ;
}
.border{
    border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
    border-top: none;
padding: 32px 16px;
}
.portfolio-menu-subtitles{
    font-weight: 500;;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        
}
.portfolio-menu-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* footer */

.footer{
background: #2e2f42;
padding: 100px 0;}
    

    

.footer-link{
    font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
    

.footer-link-color{
    color: #f4f4fd;
   
}

.footer-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
}

